.button-base {
  height: 44px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  width: 100%;
  font-weight: 500;
  letter-spacing: 2px;
}

.button-secondary {
  background: rgb(107,52,226);
  background: linear-gradient(90deg, rgba(107,52,226,1) 35%, rgba(33,112,255,1) 100%);
  color: #FFFFFF;
}
