.float-env-info {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	background-color:#ddca7e;
	color:#000;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
	line-height: 56px;
	font-weight: 500;
	opacity: 0.5;
	transition: all ease 0.1s;
}
.float-left {
	left:40px;
	transition: all ease 0.1s;
}
.float-right {
	right:40px;
	transition: all ease 0.1s;
}
.float-env-info:hover{
	opacity: 1;
}