/*  */

.header-base {
  overflow: hidden;
  height: 100px;
  background: #fff;
}

.header-shadow {
  width: 95%;
  margin: 0 auto;
  display: block;
  height: 10px;
  box-shadow: -5px 14px 19px -4px #a0a0a0;
  position: relative;
  top: -10px;
}

.header-font {
  font-family: Nunito, "Open Sans", "Helvetica Neue", sans-serif;
  color: #b9bbc5;
  font-size: 18px;
}

.primary-header-color {
  color: #5570e3;
}

.root-menu li.ant-menu-item {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-base .ant-menu-horizontal{
display: flex;
justify-content: flex-end;
}
.root-menu li a {
  width: auto;
}

.root-menu .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #5570E3;
  border-bottom: 4px solid #5570E3;
}

.root-menu .ant-menu-submenu {
  margin-left: 20px;
  margin-right: 20px;
}

.header-base .ant-badge-status-dot {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.header-base .ant-badge-status {
  position: absolute;
  top: 10px;
  left: 28px;
  cursor: pointer;
}

.header-avatar {
  width: 64px;
  height: 64px;
  margin-right: 12px;
}

.header-base .ant-popover .ant-popover-placement-bottom{
  width: 300px;
}

@media (min-width: 1200px) {
  .header-avatar {
    width: 72px;
    height: 72px;
    margin-right: 12px;
  }
}